@model IEnumerable<Contribution>

@{
    ViewData["Title"] = "Liste de toutes les cotisations";
}

<div class="row">
    <div class="col-md-12 my-4">
    
        <partial name="_StatusMessage" model='TempData["StatusMessage"]' />
        
        <div class="card shadow">
            <div class="card-body">
                <h5 class="card-title"><strong>@ViewData["Title"]</strong></h5>
                <hr />
                <div class="toolbar mb-4">
                    <div class="row">
                        <div class="col-auto mr-auto">
                            @if ((AuthorizationService.AuthorizeAsync(User, Contributions.Add)).Result.Succeeded)
                            { 
                                <a asp-action="Add" class="btn btn-success">
                                    <i class="fa fa-plus-circle" aria-hidden="true"></i> Nouveau
                                </a>
                            }
                        </div>
                        <div class="col-auto">
                            <a asp-action="Index" asp-controller="Contribution" class="btn btn-light btn-outline-dark" title="Actualiser">
                                <i class="fa fa-refresh" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <table id="eventsDataTable" class="table text-center table-hover table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Date)</th>
                            <th>@Html.DisplayNameFor(model => model.Priest)</th>
                            <th>@Html.DisplayNameFor(model => model.Amount)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var contribution in Model)
                        {
                            <tr>
                                <td>@contribution.Date.ToString("dd MMM yyyy")</td>
                                <td>@contribution.Priest?.FullName</td>
                                <td>@FormatNumberWithSpaces(contribution.Amount) XOF</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>