@model IEnumerable<Contribution>

@{
    ViewData["Title"] = "Etat des cotisations";
    Layout = "_ReportLayout";

    int i = 1;
}

<h2 class="text-center mb-4 border-bottom"><strong>@ViewData["Title"]</strong></h2>

<table class="table table-bordered text-center">
    <thead class="thead-light">
        <tr>
            <th>#</th>
            <th>@Html.DisplayNameFor(model => model.Date)</th>
            <th>@Html.DisplayNameFor(model => model.Priest)</th>
            <th>@Html.DisplayNameFor(model => model.Ammount)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var contribution in Model)
        {
            <tr>
                <td>@(i++)</td>
                <td>@contribution.Date.ToShortDateString()</td>
                <td>@contribution.Priest?.FullName</td>
                <td>@FormatNumberWithSpaces(contribution.Ammount) XOF</td>
            </tr>
        }
        <tr>
            <td colspan="3"><strong>TOTAL</strong></td>
            <td>@FormatNumberWithSpaces(Model.Sum(m => m.Ammount)) XOF</td>
        </tr>
    </tbody>
</table>