@model IEnumerable<Contribution>

@{
    ViewData["Title"] = "Etat des cotisations par diocèse";
    Layout = "_ReportLayout";

    int index = 0;
}

<h4 class="text-center text-uppercase my-3"><strong>@ViewData["Title"]</strong></h4>

<table class="table table-bordered text-center">
    <thead class="thead-dark">
        <tr>
            <th colspan="3">@Model.FirstOrDefault()?.Priest?.Diocese?.Name</th>
        </tr>
    </thead>
    <thead class="thead-light">
        <tr>
            <th>#</th>
            <th>Période de cotisation</th>
            <th>Montant de la cotisation</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var contribution in Model.GroupBy(c => c.Date))
        {
            <tr>
                <td>@(++index)</td>
                <td>@contribution.Key.ToString("MMMM yyyy")</td>
                <td>@FormatNumberWithSpaces(contribution.Sum(c => c.Amount)) XOF</td>
            </tr>
        }
        <tr>
            <th colspan="2">TOTAL</th>
            <th>@FormatNumberWithSpaces(Model.Sum(m => m.Amount)) XOF</th>
        </tr>
    </tbody>
</table>