@model IEnumerable<Diocese>

@{
    ViewData["Title"] = "Etat des diocèses";
    Layout = "_ReportLayout";

    int i = 1;
}

<h2 class="text-center mb-4 border-bottom"><strong>@ViewData["Title"]</strong></h2>

<table class="table table-bordered text-center">
    <thead class="thead-dark">
        <tr>
            <th>#</th>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>Nombre de prêtres</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var diocese in Model)
        {
            <tr>
                <td>@(i++)</td>
                <td>@diocese.Name</td>
                <td>@diocese.Priests.Count</td>
            </tr>
        }
    </tbody>
</table>