@model IEnumerable<Diocese>

@{
    ViewData["Title"] = "Etat des diocèses";
    Layout = "_ReportLayout";

    int i = 1;
}

<h4 class="text-center text-uppercase my-3"><strong>@ViewData["Title"]</strong></h4>

<table class="table table-bordered text-center">
    <thead class="thead-dark">
        <tr>
            <th class="autofill">#</th>
            <th class="text-left">@Html.DisplayNameFor(model => model.Name)</th>
            <th class="autofill">Nombre de prêtres</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var diocese in Model)
        {
            <tr>
                <td>@(i++)</td>
                <td class="text-left">@diocese.Name</td>
                <td>@diocese.Priests.Count</td>
            </tr>
        }
    </tbody>
</table>