@model PensionReportResultViewModel

@{
    ViewData["Title"] = "Etat des allocations";
    Layout = "_ReportLayout";

    int index = 0;
}

<h4 class="text-center text-uppercase my-3"><strong>@ViewData["Title"]</strong></h4>

<table class="table table-sm table-bordered text-center mb-5">
    <thead>
        <tr>
            <th>Période de cotisation (début)</th>
            <th>Période de cotisation (fin)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.StartDate</td>
            <td>@Model.EndDate</td>
        </tr>
    </tbody>
</table>

<table class="table table-bordered text-center">
    <thead class="thead-light">
        <tr>
            <th>#</th>
            <th>Période de paiement de l'allocation</th>
            <th>Nom et prénom(s) du prêtre</th>
            <th>Nom du diocèse</th>
            <th>Montant</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Pensions.Count > 0)
        {
            @foreach (var pension in Model.Pensions)
            {
                <tr>
                    <td>@(++index)</td>
                    <td>@pension.Date.ToString("MMMM yyyy")</td>
                    <td>@pension.Priest.FullName</td>
                    <td>@pension.Priest.Diocese.Name</td>
                    <td>@FormatNumberWithSpaces(pension.Amount) XOF</td>
                </tr>
            }
            <tr>
                <th colspan="4">TOTAL</th>
                <th>@FormatNumberWithSpaces(Model.Pensions.Sum(m => m.Amount)) XOF</th>
            </tr>
        }
        else
        {
            <tr role="group" class="bg-light text-center">
                <td colspan="5">Aucune allocation n'a été versée pendant cette période</td>
            </tr>
        }
    </tbody>
</table>