@model IEnumerable<IGrouping<Priest, Pension>>

@{
    ViewData["Title"] = "Etat des allocations groupés par prêtre";
    Layout = "_ReportLayout";
}

<h2 class="text-center mb-4 border-bottom"><strong>@ViewData["Title"]</strong></h2>

<table class="table table-bordered text-center">
    @if (Model.Count() > 0)
    {
        @foreach (var group in Model)
        {
            int i = 1;

            <thead class="thead-dark">
                <tr>
                    <th colspan="4">@group.Key?.FullName</th>
                </tr>
            </thead>
            <thead class="thead-light">
                <tr>
                    <th>#</th>
                    <th>Date de l'allocation</th>
                    <th>Nom et prénom(s) du prêtre</th>
                    <th>Montant de l'allocation</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var pension in group)
                {
                    <tr>
                        <td>@(i++)</td>
                        <td>@pension.Date.ToShortDateString()</td>
                        <td>@pension.Priest?.FullName</td>
                        <td>@FormatNumberWithSpaces(pension.Ammount) XOF</td>
                    </tr>
                }
                <tr>
                    <td colspan="3"><strong>TOTAL</strong></td>
                    <td>@FormatNumberWithSpaces(group.Sum(m => m.Ammount)) XOF</td>
                </tr>
            </tbody>
        }
    }
    else
    {
        <thead>
            <tr>
                <th>Date de l'allocation</th>
                <th>Nom et prénom(s) du prêtre</th>
                <th>Montant de l'allocation</th>
            </tr>
        </thead>
        <tbody>
            <tr role="group" class="bg-light text-center">
                <td colspan="3">Aucune entrée correspondante trouvée</td>
            </tr>
        </tbody>
    }
</table>