@model Priest

@{
    ViewData["Title"] = "Etat des allocations par prêtre";
    Layout = "_ReportLayout";

    int index = 0;
}

<h4 class="text-center text-uppercase my-3"><strong>@ViewData["Title"]</strong></h4>

<table class="table table-bordered text-center">
    <thead class="thead-dark">
        <tr>
            <th colspan="3">@Model.FullName</th>
        </tr>
    </thead>
    <thead class="thead-light">
        <tr>
            <th>#</th>
            <th>Période du paiement de l'allocation	</th>
            <th>Montant de l'allocation</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Pensions.Count > 0)
        {
            @foreach (var pension in Model.Pensions)
            {
                <tr>
                    <td>@(++index)</td>
                    <td>@pension.Date.ToString("MMMM yyyy")</td>
                    <td>@FormatNumberWithSpaces(pension.Amount) XOF</td>
                </tr>
            }
            <tr>
                <th colspan="2">TOTAL</th>
                <th>@FormatNumberWithSpaces(Model.Pensions.Sum(m => m.Amount)) XOF</th>
            </tr>
        }
        else
        {
            <tr role="group" class="bg-light text-center">
                <td colspan="3">Aucune allocation n'a été versée à ce prêtre</td>
            </tr>
        }
    </tbody>
</table>