@model IEnumerable<Priest>

@{
    ViewData["Title"] = "Etat des allocations groupés par prêtre";
    Layout = "_ReportLayout";
}

<h4 class="text-center text-uppercase my-3"><strong>@ViewData["Title"]</strong></h4>

<table class="table table-bordered text-center">
    <thead class="thead-light">
        <tr>
            <th>#</th>
            <th>Période du paiement de l'allocation</th>
            <th>Nom du diocèse</th>
            <th>Montant de l'allocation</th>
        </tr>
    </thead>
    @foreach (var priest in Model)
    {
        <thead class="thead-dark">
            <tr>
                <th colspan="4">@priest.FullName</th>
            </tr>
        </thead>
        @if (priest.Pensions.Count > 0)
        {
            int index = 0;
            @foreach (var pension in priest.Pensions)
            {
                <tr>
                    <td>@(++index)</td>
                    <td>@pension.Date.ToString("MMMM yyyy")</td>
                    <td>@pension.Priest.Diocese.Name</td>
                    <td>@FormatNumberWithSpaces(pension.Amount) XOF</td>
                </tr>
            }
        }
        else
        {
            <tr role="group" class="bg-light text-center">
                <td colspan="4">Aucune allocation n'a été versée à ce prêtre</td>
            </tr>
        }
    }
</table>