@model IEnumerable<Pension>

@{
    ViewData["Title"] = "Etat des allocations par prêtre";
}

<div class="row">
    <div class="col-md-12 my-4">
        <div class="card shadow">
            <div class="card-body">
                <h5 class="card-title"><strong>@ViewData["Title"]</strong></h5>
                <hr />

                <table id="customDataTable" class="table table-sm table-bordered table-hover text-center">
                    <thead class="thead-dark">
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Date)</th>
                            <th>@Html.DisplayNameFor(model => model.Priest)</th>
                            <th>@Html.DisplayNameFor(model => model.Ammount)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var pension in Model)
                        {
                            <tr>
                                <td>@pension.Date.ToShortDateString()</td>
                                <td>@pension.Priest?.FullName</td>
                                <td>@pension.Ammount</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>