@model IEnumerable<Priest>

@{
    ViewData["Title"] = "Etat des prêtres";
    Layout = "_ReportLayout";

    int i = 1;
}

<h2 class="text-center mb-4 border-bottom"><strong>@ViewData["Title"]</strong></h2>

<table class="table table-bordered text-center">
    <thead class="thead-light">
        <tr>
            <th>#</th>
            <th class="text-left">@Html.DisplayNameFor(model => model.FullName)</th>
            <th>@Html.DisplayNameFor(model => model.DateOfBirth)</th>
            <th>@Html.DisplayNameFor(model => model.Age)</th>
            <th>@Html.DisplayNameFor(model => model.OrdinationDate)</th>
            <th>@Html.DisplayNameFor(model => model.Diocese)</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() > 0)
        {
            foreach (var priest in Model)
            {
                <tr>
                    <td>@(i++)</td>
                    <td class="text-left">@priest.FullName</td>
                    <td>@priest.DateOfBirth.ToShortDateString()</td>
                    <td>@priest.Age ans</td>
                    <td>@priest.OrdinationDate.ToShortDateString()</td>
                    <td>@priest.Diocese?.Name</td>
                </tr>
            }
        }
        else
        {
            <tr role="group" class="bg-light text-center">
                <td colspan="6">Aucune entrée correspondante trouvée</td>
            </tr>
        }
    </tbody>
</table>