@model PriestReportViewModel

@{
    ViewData["Title"] = "Etat des prêtres";
}

<style>
    .form-group,.form-group .dropdown-item, legend {
        font-size: 14px;
    }

    legend {
        font-size: 14px;
        font-weight: bold;
        color: #6c757d;
        text-transform: uppercase;
    }
</style>

<div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12 mx-auto my-4">
        <div class="card shadow">
            <div class="card-body">
                <h5 class="card-title"><strong>@ViewData["Title"]</strong></h5>
                <hr />
                <form asp-action="PriestReport" method="post">
                    <fieldset class="form-group border pt-1 px-3 pb-3">
                        <legend class="w-auto px-2">Âge</legend>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group m-0">
                                    <select class="form-control-sm select-picker" asp-for="Age" title="-- Veuillez sélectionner --">
                                        <option value="">Tous les âges</option>
                                        <option value="@PriestAgeInterval.LessThanSeventy">Moins de 70 ans</option>
                                        <option value="@PriestAgeInterval.Seventy">70 ans</option>
                                        <option value="@PriestAgeInterval.MoreThanSeventy">Plus de 70 ans</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="form-group border pt-1 px-3 pb-3">
                        <legend class="w-auto px-2">Raison d'inactivité</legend>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group m-0">
                                    <select class="form-control-sm select-picker" asp-for="SuspensionReason" title="-- Veuillez sélectionner --">
                                        <option value="">Aucune</option>
                                        <option value="@SuspensionReason.Death">Décès</option>
                                        <option value="@SuspensionReason.Resignation">Démission</option>
                                        <option value="@SuspensionReason.Excardination">Excardination</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="form-group border pt-1 px-3 pb-3">
                        <legend class="w-auto px-2">Date de naissance</legend>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group m-0">
                                    <label class="d-block">Entre le</label>
                                    <input type="date" class="form-control-sm" asp-for="DoBStartDate">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group m-0">
                                    <label class="d-block">Et le</label>
                                    <input type="date" class="form-control-sm" asp-for="DoBEndDate">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="form-group border pt-1 px-3 pb-3">
                        <legend class="w-auto px-2">Date d'ordination</legend>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group m-0">
                                    <label class="d-block">Entre le</label>
                                    <input type="date" class="form-control-sm" asp-for="OrdinationStartDate">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group m-0">
                                    <label class="d-block">Et le</label>
                                    <input type="date" class="form-control-sm" asp-for="OrdinationEndDate">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <a asp-action="Index" asp-controller="Home" class="btn btn-secondary">Accueil</a>
                    <button type="submit" class="btn btn-primary" formtarget="_blank">Suivant</button>
                </form>
            </div>
        </div>
    </div>
</div>