@model PriestReportResultViewModel

@{
    ViewData["Title"] = "Etat des prêtres";
    Layout = "_ReportLayout";

    int index = 0;
}

<h4 class="text-center text-uppercase my-3"><strong>@ViewData["Title"]</strong></h4>


<table class="table table-sm table-bordered text-center mb-4" style="font-size: 13px;">
    <thead>
        <tr>
            <th>Âge</th>
            <th>Raison d'inactivité</th>
            <th>Date de naissance (début)</th>
            <th>Date de naissance (fin)</th>
            <th>Date d'ordination (début)</th>
            <th>Date d'ordination (fin)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Age</td>
            <td>@Model.SuspensionReason</td>
            <td>@Model.DoBStartDate?.ToString("dd/MM/yyyy")</td>
            <td>@Model.DoBEndDate?.ToString("dd/MM/yyyy")</td>
            <td>@Model.OrdinationStartDate?.ToString("dd/MM/yyyy")</td>
            <td>@Model.OrdinationEndDate?.ToString("dd/MM/yyyy")</td>
        </tr>
    </tbody>
</table>

<hr />

<table class="table table-bordered text-center">
    <thead class="thead-light">
        <tr>
            <th>#</th>
            <th class="text-left">Nom et prénom(s)</th>
            <th>Date de naissance</th>
            <th>Âge</th>
            <th>Date d'ordination</th>
            <th>Diocèse</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Priests.Count() > 0)
        {
            foreach (var priest in Model.Priests)
            {
                <tr>
                    <td>@(++index)</td>
                    <td class="text-left">@priest.FullName</td>
                    <td>@priest.DateOfBirth.ToShortDateString()</td>
                    <td>@priest.Age ans</td>
                    <td>@priest.OrdinationDate.ToShortDateString()</td>
                    <td>@priest.Diocese?.Name</td>
                </tr>
            }
        }
        else
        {
            <tr role="group" class="bg-light text-center">
                <td colspan="6">Aucune entrée correspondante trouvée</td>
            </tr>
        }
    </tbody>
</table>