@model IEnumerable<Priest>

@{
    ViewData["Title"] = "Etat des prêtres";
}

<div class="row">
    <div class="col-md-12 my-4">
        <div class="card shadow">
            <div class="card-body">
                <h5 class="card-title"><strong>@ViewData["Title"]</strong></h5>
                <hr />

                <table id="customDataTable" class="table table-bordered table-hover text-center">
                    <thead class="thead-dark">
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.FullName)</th>
                            <th>@Html.DisplayNameFor(model => model.DateOfBirth)</th>
                            <th>@Html.DisplayNameFor(model => model.Age)</th>
                            <th>@Html.DisplayNameFor(model => model.OrdinationDate)</th>
                            <th>@Html.DisplayNameFor(model => model.Diocese)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var priest in Model)
                        {
                            <tr>
                                <td>@priest.FullName</td>
                                <td>@priest.DateOfBirth.ToShortDateString()</td>
                                <td>@priest.Age ans</td>
                                <td>@priest.OrdinationDate.ToShortDateString()</td>
                                <td>@priest.Diocese?.Name</td>                                
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>