@model DashboardViewModel

@{
    ViewData["Title"] = "Tableau de bord";
}

<style>
    .zoom-effect {
        transition: transform 0.3s ease-in-out;
    }

        .zoom-effect:hover {
            transform: scale(1.1);
        }

    .card i {
        font-size: 60px;
        position: absolute;
        top: 10px;
        right: 10px;
        opacity: 0.2;
    }

    table {
        font-size: 14px;
    }
</style>

<h1>Tableau de bord</h1>

<div class="row">
    <div class="col-md-3">
        <div class="card bg-primary text-white zoom-effect">
            <i class="fa fa-home"></i>
            <div class="card-header">
                Nombre de diocèses
            </div>
            <div class="card-body">
                <h5 class="card-title">@Model.DioceseCount</h5>
                <p class="card-text">diocèses enregistrés</p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card bg-success text-white zoom-effect">
            <i class="fa fa-user"></i>
            <div class="card-header">
                Nombre de prêtres
            </div>
            <div class="card-body">
                <h5 class="card-title">@Model.PriestCount</h5>
                <p class="card-text">prêtres enregistrés</p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card bg-info text-white zoom-effect">
            <i class="fa fa-money"></i>
            <div class="card-header">
                Total des cotisations
            </div>
            <div class="card-body">
                <h5 class="card-title">@FormatNumberWithSpaces(Model.ContributionTotal) XOF</h5>
                <p class="card-text">cotisations enregistrées</p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card bg-warning text-dark zoom-effect">
            <i class="fa fa-money"></i>
            <div class="card-header">
                Total des allocations
            </div>
            <div class="card-body">
                <h5 class="card-title">@FormatNumberWithSpaces(Model.PensionTotal) XOF</h5>
                <p class="card-text">allocations enregistrées</p>
            </div>
        </div>
    </div>
</div>

<div class="row mt-5">
    <div class="col-md-6">
        <div class="card shadow">
            <div class="card-header">
                <strong class="card-title">Dernières cotisations</strong>
            </div>
            <div class="card-body">
                <table class="table table-sm table-hover table-bordered text-center">
                    <thead class="thead-light">
                        <tr>
                            <th>Date de la cotisation</th>
                            <th>Nom et prénom(s) du prêtre</th>
                            <th>Montant de la cotisation</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var contribution in Model.LastContributions)
                        {
                            <tr>
                                <td>@contribution.Date.ToShortDateString()</td>
                                <td>@contribution.Priest.FullName</td>
                                <td>@FormatNumberWithSpaces(contribution.Ammount) XOF</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card shadow">
            <div class="card-header">
                <strong class="card-title">Dernières allocations</strong>
            </div>
            <div class="card-body">
                <table class="table table-sm table-hover table-bordered text-center">
                    <thead class="thead-light">
                        <tr>
                            <th>Date de l'allocation</th>
                            <th>Nom et prénom(s) du prêtre</th>
                            <th>Montant de l'allocation</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var pension in Model.LastPensions)
                        {
                            <tr>
                                <td>@pension.Date.ToShortDateString()</td>
                                <td>@pension.Priest.FullName</td>
                                <td>@FormatNumberWithSpaces(pension.Ammount) XOF</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
</div>