@model IEnumerable<Diocese>

@{
    ViewData["Title"] = "Liste de tous les diocèses";
}

<div class="row">
    <div class="col-md-12 my-4">
        
        <partial name="_StatusMessage" model='TempData["StatusMessage"]' />
        
        <div class="card shadow">
            <div class="card-body">
                <h5 class="card-title"><strong>@ViewData["Title"]</strong></h5>
                <hr />
                <div class="toolbar mb-4">
                    <div class="row">
                        <div class="col-auto mr-auto">
                            @if ((AuthorizationService.AuthorizeAsync(User, Dioceses.Create)).Result.Succeeded)
                            { 
                                <a href="#" data-toggle="modal" data-target="#create" class="btn btn-success">
                                    <i class="fa fa-plus-circle" aria-hidden="true"></i> Nouveau
                                </a>
                            }
                        </div>
                        <div class="col-auto">
                            <a asp-action="Index" asp-controller="Diocese" class="btn btn-light btn-outline-dark" title="Actualiser">
                                <i class="fa fa-refresh" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <table id="customDataTable" class="table table-bordered table-hover text-center">
                    <thead class="thead-dark">
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Name)</th>
                            <th class="text-right">Nombre de prêtres</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var diocese in Model)
                        {
                            <tr>
                                <td>@diocese.Name</td>
                                <td class="text-right">@diocese.Priests.Count</td>
                                <td class="text-right">
                                    <div class="dropdown">
                                        <button class="btn btn-sm dropdown-toggle" type="button" id="actions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="text-muted sr-only">Action</span>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="actions">
                                            @if ((AuthorizationService.AuthorizeAsync(User, Dioceses.Edit)).Result.Succeeded)
                                            {
                                                <a class="dropdown-item btn-edit" href="#" data-diocese-id="@diocese.Id">Modifier</a>
                                            }
                                            @if ((AuthorizationService.AuthorizeAsync(User, Dioceses.Delete)).Result.Succeeded)
                                            {
                                                <a class="dropdown-item btn-delete" href="#" data-toggle="modal" data-target="#confirm-delete" data-diocese-id="@diocese.Id">Supprimer</a>
                                            }
                                            @if ((AuthorizationService.AuthorizeAsync(User, Dioceses.ImportData)).Result.Succeeded)
                                            { 
                                                <a class="dropdown-item btn-import" href="#" data-toggle="modal" data-target="#import-data" data-diocese-id="@diocese.Id" data-diocese-name="@diocese.Name">Importer la liste des prêtres</a>
                                            }
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="create" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><strong>Nouveau diocèse</strong></h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <partial name="_CreatePartial" model="new Diocese()" />
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><strong>Modifier le diocèse</strong></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="Edit" method="post">
                    <input type="hidden" name="Id" id="Id" />
                    <div class="form-group">
                        <label class="required">Nom du diocèse</label>
                        <input id="Name" name="Name" class="form-control" required>
                    </div>
                    <div class="text-right mt-3">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                        <button type="submit" class="btn btn-primary">Modifier</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><strong>Confirmation de suppression</strong></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Êtes-vous sûr(e) de vouloir supprimer ces informations ?
            </div>
            <div class="modal-footer">
                <form asp-action="Delete" method="post" class="text-right">
                    <input type="hidden" id="dioceseId" name="dioceseId" />
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                    <button type="submit" class="btn btn-danger">Oui</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="import-data" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><strong>Importation de données</strong></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="ImportData" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="dioceseId" id="dioceseId" />
                    <div class="form-group">
                        <label class="required">Nom du diocèse</label>
                        <input class="form-control" id="dioceseName" disabled />
                    </div>
                    <div class="form-group">
                        <label class="required">Liste des prêtres</label>
                        <input type="file" class="form-control-file" name="priests" />
                    </div>
                    <div class="text-right mt-3">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                        <button type="submit" class="btn btn-success">Importer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        $(document).ready(function () {
            $('.btn-edit').click(function (e) {

                var dioceseId = $(this).data('diocese-id');

                $.ajax({
                    url: "@Url.Action("Details", "Diocese")",
                    type: 'GET',
                    data: { "dioceseId" : dioceseId },
                    success: function (result) {
                        $('#edit #Id').val(result.id);
                        $('#edit #Name').val(result.name);
                        $('#edit').modal('show');
                    },
                    error: function (error) {
                        alert(error);
                    }
                });
            });

            $('#customDataTable tbody').on('click', '.btn-delete', function () {
                var dioceseId = $(this).data('diocese-id');
                $("#confirm-delete").find(".modal-footer #dioceseId").val(dioceseId);
            });

            $('#customDataTable tbody').on('click', '.btn-import', function () {
                var dioceseId = $(this).data('diocese-id');
                var dioceseName = $(this).data('diocese-name');
                $("#import-data").find(".modal-body #dioceseId").val(dioceseId);
                $("#import-data").find(".modal-body #dioceseName").val(dioceseName);
            });
        });
    </script>
}