@model IEnumerable<UserViewModel>

@{
    ViewData["Title"] = "Liste de tous les utilisateurs";
}

<div class="row">
    <div class="col-md-12 my-4">
        
        <partial name="_StatusMessage" model='TempData["StatusMessage"]' />
        
        <div class="card shadow">
            <div class="card-body">
                <h5 class="card-title"><strong>@ViewData["Title"]</strong></h5>
                <hr />
                <div class="toolbar mb-4">
                    <div class="row">
                        <div class="col-auto mr-auto">
                            @if ((AuthorizationService.AuthorizeAsync(User, Users.Create)).Result.Succeeded)
                            { 
                                <a asp-action="Create" class="btn btn-success">
                                    <i class="fa fa-plus-circle" aria-hidden="true"></i> Nouveau
                                </a>
                            }
                        </div>
                        <div class="col-auto">
                            <a asp-action="Index" asp-controller="Users" class="btn btn-light btn-outline-dark" title="Actualiser">
                                <i class="fa fa-refresh" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <table id="customDataTable" class="table table-bordered table-hover text-center">
                    <thead class="thead-dark">
                        <tr>
                            <th>Nom d'utilisateur</th>
                            <th>Nom et prénom(s)</th>
                            <th>Email</th>
                            <th>Actif</th>
                            <th>Rôles</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model)
                        {
                            <tr>
                                <td>@user.UserName</td>
                                <td>@user.FullName</td>
                                <td>@user.Email</td>
                                <td><partial name="_YesOrNoBadgePartial" model="user.IsActive" /></td>
                                <td>@string.Join(", ", user.Roles.ToList())</td>
                                <td class="text-right">
                                    <div class="dropdown">
                                        <button class="btn btn-sm dropdown-toggle" type="button" id="actions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="text-muted sr-only">Action</span>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="actions" style="line-height: 2;">
                                            @if ((AuthorizationService.AuthorizeAsync(User, Users.ManageRoles)).Result.Succeeded)
                                            { 
                                                <a class="dropdown-item" asp-action="ManageRoles" asp-route-userId="@user.Id">Gestion des rôles</a>
                                            }
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>