@model ManageUserRolesViewModel

@{ 
    ViewData["Title"] = $"Attribuer un rôle à {Model.UserFullName}";
}

<div class="row">
    <div class="col-md-12 my-4">
        <div class="card shadow w-50 mx-auto">
            <div class="card-body">
                <h5 class="card-title"><strong>@ViewData["Title"]</strong></h5>
                <hr />
                <form asp-controller="Users" method="post" asp-action="UpdateRoles" asp-route-id="@Model.UserId" class="d-inline">
                    <input asp-for="@Model.UserId" type="hidden" />
                    <table class="table table-bordered table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th>Rôle</th>
                                <th>Etat</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.UserRoles.Count(); i++)
                            {
                                <tr>
                                    <td>
                                        <input asp-for="@Model.UserRoles[i].RoleName" type="hidden" />
                                        @Model.UserRoles[i].RoleName
                                    </td>
                                    <td>
                                        <div class="form-check m-1">
                                            <input asp-for="@Model.UserRoles[i].Selected" class="form-check-input" />
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <button type="submit" class="btn btn-success">
                        Enregistrer
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>