@model IEnumerable<Priest>

@{
    ViewData["Title"] = "Liste de tous les prêtres";
}

<div class="row">
    <div class="col-md-12 my-4">
        
        <partial name="_StatusMessage" model='TempData["StatusMessage"]' />
        
        <div class="card shadow">
            <div class="card-body">
                <h5 class="card-title"><strong>@ViewData["Title"]</strong></h5>
                <hr />
                <div class="toolbar mb-4">
                    <div class="row">
                        <div class="col-auto mr-auto">
                            @if ((AuthorizationService.AuthorizeAsync(User, Priests.Create)).Result.Succeeded)
                            { 
                                <a asp-action="Create" class="btn btn-success">
                                    <i class="fa fa-plus-circle" aria-hidden="true"></i> Nouveau
                                </a>
                            }
                        </div>
                        <div class="col-auto">
                            <a asp-action="Index" asp-controller="Priest" class="btn btn-light btn-outline-dark" title="Actualiser">
                                <i class="fa fa-refresh" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <table id="customDataTable" class="table table-bordered table-hover text-center">
                    <thead class="thead-dark">
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.FullName)</th>
                            <th>@Html.DisplayNameFor(model => model.DateOfBirth)</th>
                            <th>@Html.DisplayNameFor(model => model.Age)</th>
                            <th>@Html.DisplayNameFor(model => model.OrdinationDate)</th>
                            <th>@Html.DisplayNameFor(model => model.Diocese)</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var priest in Model)
                        {
                            <tr>
                                <td>@priest.FullName</td>
                                <td>@priest.DateOfBirth.ToShortDateString()</td>
                                <td>@priest.Age ans</td>
                                <td>@priest.OrdinationDate.ToShortDateString()</td>
                                <td>@priest.Diocese?.Name</td>
                                <td class="text-right">
                                    <div class="dropdown">
                                        <button class="btn btn-sm dropdown-toggle" type="button" id="actions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="text-muted sr-only">Action</span>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="actions">
                                            @if ((AuthorizationService.AuthorizeAsync(User, Priests.Edit)).Result.Succeeded)
                                            {
                                                <a class="dropdown-item" asp-action="Edit" asp-route-priestId="@priest.Id">Modifier</a>
                                            }
                                            @if ((AuthorizationService.AuthorizeAsync(User, Priests.Delete)).Result.Succeeded)
                                            { 
                                                <a class="dropdown-item btn-delete" href="#" data-toggle="modal" data-target="#confirm-delete" data-priest-id="@priest.Id">Supprimer</a>
                                            }
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><strong>Confirmation de suppression</strong></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Êtes-vous sûr(e) de vouloir supprimer ces informations ?
            </div>
            <div class="modal-footer">
                <form asp-action="Delete" method="post" class="text-right">
                    <input type="hidden" id="priestId" name="priestId" />
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                    <button type="submit" class="btn btn-danger">Oui</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $('#customDataTable tbody').on('click', '.btn-delete', function () {
            var priestId = $(this).data('priest-id');
            $("#confirm-delete").find(".modal-footer #priestId").val(priestId);
        });
    </script>
}