@model SuspendPriestViewModel

@{
    ViewData["PageTitle"] = "Prêtres";
    ViewData["Title"] = ViewData["PageSubtitle"] = "Fin des actions d'un prêtre";
}

<div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12 mx-auto">

        <partial name="_StatusMessage" model='TempData["StatusMessage"]' />

        <div class="card shadow">
            <div class="card-body">
                <form asp-action="Suspend" method="post">
                    <div class="form-group">
                        <label class="required">Nom et prénom(s) du prêtre</label>
                        <select asp-for="PriestId" class="form-control select-picker" title="-- Veuillez sélectionner --"
                                data-live-search="true" asp-items="ViewBag.Priests" required>
                        </select>
                    </div>                    
                    <div class="form-group">
                        <label>Date de fin d'activité</label>
                        <input type="date" asp-for="SuspensionDate" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="required d-block">Motif</label>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" asp-for="Reason" id="@SuspensionReason.Death" value="@SuspensionReason.Death" required>
                            <label class="form-check-label" for="@SuspensionReason.Death">Décès</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" asp-for="Reason" id="@SuspensionReason.Resignation" value="@SuspensionReason.Resignation" required>
                            <label class="form-check-label" for="@SuspensionReason.Resignation">Démission</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" asp-for="Reason" id="@SuspensionReason.Excardination" value="@SuspensionReason.Excardination" required>
                            <label class="form-check-label" for="@SuspensionReason.Excardination">Excardination</label>
                        </div>
                    </div>
                    <div>
                        <a asp-action="Index" class="btn btn-secondary">Retour</a>
                        <button type="submit" class="btn btn-success">Valider</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>